In [1]:
import pandas as pd

In [2]:
import webbrowser
website = 'https://es.wikipedia.org/wiki/Conjunto_de_Mandelbrot'
webbrowser.open(website)

True

In [14]:
dataframe_extremo = pd.read_clipboard()

In [15]:
dataframe_extremo

,Año,Álbumes,de,estudio,Posición,en,listas,Certificaciones
0,Bandera,de,España,None,None,None,None,None
1,24​,None,None,None,None,None,None,None
2,1989,Rock,transgresivon.,1​,None,None,None,None
3,Sello:,Avispa,None,None,None,None,None,None
4,Publicación:,26,de,agosto,de,1994,por,DRO25​
5,—,None,None,None,None,None,None,None
6,ESP:,Oro26​,None,None,None,None,None,None
7,1991,Somos,unos,animales,None,None,None,None
8,Sello:,Área,Creativa,None,None,None,None,None
9,Publicación:,Julio,de,199127​,None,None,None,None
10,—,None,None,None,None,None,None,None
11,ESP:,Oro28​,None,None,None,None,None,None
12,1992,Deltoya,None,None,None,None,None,None
13,Sello:,DRO,None,None,None,None,None,None
14,Publicación:,Junio,de,1992n.,2​,None,None,None
15,—,None,None,None,None,None,None,None
16,ESP:,Platino28​,None,None,None,None,None,None
17,1993,¿Dónde,están,mis,amigos?,None,None,None
18,Sello:,DRO,None,None,None,None,None,None
19,Publicación:,17,de,septiembre,de,199331​,None,None
20,—,None,None,None,None,None,None,None
21,ESP:,Platino32​,None,None,None,None,None,None
22,1995,Pedrá,None,None,None,None,None,None
23,Sello:,DRO,None,None,None,None,None,None
24,Publicación:,17,de,febrero,de,199533​,None,None
25,—,None,None,None,None,None,None,None
26,ESP:,Platino34​,None,None,None,None,None,None
27,1996,Agila,None,None,None,None,None,None
28,Sello:,DRO,None,None,None,None,None,None
29,Publicación:,23,de,febrero,de,199635​,None,None
30,1336​,None,None,None,None,None,None,None
31,ESP:,2×,Platino28​,None,None,None,None,None
32,1998,Canciones,prohibidas,None,None,None,None,None
33,Sello:,DRO,None,None,None,None,None,None
34,Publicación:,28,de,septiembre,de,199837​,None,None
35,438​,None,None,None,None,None,None,None
36,ESP:,Platino28​,None,None,None,None,None,None
37,2002,"Yo,",minoría,absoluta,None,None,None,None
38,Sello:,DRO,None,None,None,None,None,None
39,Publicación:,4,de,marzo,de,2002n.,3​,None
40,442​,None,None,None,None,None,None,None
41,ESP:,Platino43​,None,None,None,None,None,None
42,2008,La,ley,innata,None,None,None,None
43,Sello:,Warner,Music,None,None,None,None,None
44,Publicación:,9,de,septiembre,de,200817​,None,None
45,1,None,None,None,None,None,None,None
46,ESP:,Oro44​,None,None,None,None,None,None
47,2011,Material,defectuoso,None,None,None,None,None
48,Sello:,Warner,Music,None,None,None,None,None
49,Publicación:,24,de,mayo,de,201118​,None,None
50,1,None,None,None,None,None,None,None
51,ESP:,Platino45​,None,None,None,None,None,None
52,2013,Para,todos,los,públicos,None,None,None
53,Sello:,Warner,Music,None,None,None,None,None
54,Publicación:,8,de,noviembre,de,201346​,None,None
55,1,None,None,None,None,None,None,None
56,ESP:,Platino47​,None,None,None,None,None,None

In [16]:
dataframe_extremo.columns

Index(['Año', 'Álbumes', 'de', 'estudio', 'Posición', 'en', 'listas',
       'Certificaciones'],
      dtype='object')

In [17]:
dataframe_extremo['Año']

0          Bandera
1              24​
2             1989
3           Sello:
4     Publicación:
5                —
6             ESP:
7             1991
8           Sello:
9     Publicación:
10               —
11            ESP:
12            1992
13          Sello:
14    Publicación:
15               —
16            ESP:
17            1993
18          Sello:
19    Publicación:
20               —
21            ESP:
22            1995
23          Sello:
24    Publicación:
25               —
26            ESP:
27            1996
28          Sello:
29    Publicación:
30           1336​
31            ESP:
32            1998
33          Sello:
34    Publicación:
35            438​
36            ESP:
37            2002
38          Sello:
39    Publicación:
40            442​
41            ESP:
42            2008
43          Sello:
44    Publicación:
45               1
46            ESP:
47            2011
48          Sello:
49    Publicación:
50               1
51            ESP:
52            2013
53          Sello:
54    Publicación:
55               1
56            ESP:
Name: Año, dtype: object

In [18]:
dataframe_extremo.head(3)

,Año,Álbumes,de,estudio,Posición,en,listas,Certificaciones
0,Bandera,de,España,None,None,None,None,None
1,24​,None,None,None,None,None,None,None
2,1989,Rock,transgresivon.,1​,None,None,None,None

In [19]:
dataframe_extremo.tail(3)

,Año,Álbumes,de,estudio,Posición,en,listas,Certificaciones
54,Publicación:,8,de,noviembre,de,201346​,None,None
55,1,None,None,None,None,None,None,None
56,ESP:,Platino47​,None,None,None,None,None,None

In [20]:
lista = ['mates','historia','fisica']
notas = [7,8,9]
dic = {'Asignaturas':lista, 'notas':notas}

In [21]:
dic

{'Asignaturas': ['mates', 'historia', 'fisica'], 'notas': [7, 8, 9]}

In [23]:
dfnotas = pd.DataFrame(dic)

In [24]:
dfnotas

  Asignaturas  notas
0       mates      7
1    historia      8
2      fisica      9

In [25]:
### indices

In [28]:
l_valores = [1,2,3]
l_indices = ['a','b','c']
serie = pd.Series(l_valores, index=l_indices)
serie.index

Index(['a', 'b', 'c'], dtype='object')

In [31]:
serie.index[0] # se pueden cambiar los valores pero no lo indices

'a'

In [32]:
lista_valores = [[1,2,3],[2,5,8],[5,8,3]]
lista_indices = ['mates','historia','fisica']
lista_nombres = ['pablo','pedro','pepe']

df = pd.DataFrame(lista_valores, index=lista_indices,columns=lista_nombres)

In [33]:
df

          pablo  pedro  pepe
mates         1      2     3
historia      2      5     8
fisica        5      8     3

In [34]:
df.index

Index(['mates', 'historia', 'fisica'], dtype='object')

In [35]:
df.index[2]

'fisica'

In [37]:
# Eliminar elementos en series y dataframes

In [38]:
import pandas as pd
import numpy as np

In [39]:
np.arange(3)

array([0, 1, 2])

In [40]:
serie = pd.Series(np.arange(4), index=['a','b','c','d'])

In [41]:
serie

a    0
b    1
c    2
d    3
dtype: int32

In [42]:
serie.drop('c')

a    0
b    1
d    3
dtype: int32

In [44]:
lv = np.arange(9).reshape(3,3)

In [46]:
li = ['a','b','c']
lc = ['c1','c2','c3']

df = pd.DataFrame(lv, index=li, columns=lc)
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8

In [48]:
df.drop('b')

   c1  c2  c3
a   0   1   2
c   6   7   8

In [49]:
df.drop('c3',axis=1)

   c1  c2
a   0   1
b   3   4
c   6   7

In [50]:
# seleccionando datos en las series

In [51]:
import pandas as pd
import numpy as np

In [53]:
lv = np.arange(3)
li = ['i1','i2','i3']

li

['i1', 'i2', 'i3']

In [54]:
serie = pd.Series(lv, index=li)

In [55]:
serie

i1    0
i2    1
i3    2
dtype: int32

In [56]:
serie = serie *2

In [57]:
serie

i1    0
i2    2
i3    4
dtype: int32

In [59]:
serie['i2']*4

8