In [2]:
# 44 series

In [3]:
import pandas as pd

In [4]:
s1 = pd.Series([3,5,7])
s1

0    3
1    5
2    7
dtype: int64

In [5]:
s1[1]

5

In [6]:
hora = [9,10,11,12]
accion = ['ducha','desayuno','ejercicio','coding']

s2 = pd.Series(hora,index=accion)

In [7]:
s2

ducha         9
desayuno     10
ejercicio    11
coding       12
dtype: int64

In [8]:
s2['ejercicio']

11

In [9]:
s2[s2 >= 11]

ejercicio    11
coding       12
dtype: int64

In [10]:
s2.name = 'horario'

In [11]:
s2

ducha         9
desayuno     10
ejercicio    11
coding       12
Name: horario, dtype: int64

In [12]:
s2.index.name = 'tareas a hacer'
s2

tareas a hacer
ducha         9
desayuno     10
ejercicio    11
coding       12
Name: horario, dtype: int64

In [13]:
d2 = s2.to_dict()
d2

{'ducha': 9, 'desayuno': 10, 'ejercicio': 11, 'coding': 12}

In [14]:
s3 = pd.Series(d2)
s3

ducha         9
desayuno     10
ejercicio    11
coding       12
dtype: int64

In [15]:
hora4 = [15,16,17,18]
accion4 = ['ducha','desayuno','ejercicio','coding']

s4 = pd.Series(hora4,index=accion4)

In [16]:
s4

ducha        15
desayuno     16
ejercicio    17
coding       18
dtype: int64

In [20]:
sumahorarios = (s3+s4)/2
sumahorarios

ducha        12.0
desayuno     13.0
ejercicio    14.0
coding       15.0
dtype: float64